.header__logo {
  width: 104px;
  height: 25px;
  padding: 28px 0 32px 28px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 142px;
    height: 32px;
    padding: 45px 0 40px;
  }
}
