.auth__input {
  width: 358px;
  border: 0;
  border-bottom: 1px solid #fff;
  padding: 13px 0;
  margin-bottom: 30px;
  background: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}

.auth__input:last-of-type {
 margin-bottom: 216px;
}

