.popup__image {
  max-height: 300px;
  max-width: 240px;
  display: block;
  object-fit: contain;
}

@media screen and (min-width: 480px) {
  .popup__image {
    max-width: 420px;
    max-height: 540px;
  }
}

@media screen and (min-width: 865px) {
  .popup__image {
    max-width: 816px;
    max-height: 490px;
  }
}

